h1 {
  text-align: center;
  font-family: serif;
}

#calendarTable  {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

caption {
  color: skyblue;
}

caption button {
  color : skyblue;
  background-color:aquamarine;
  border-radius: 10px;
  border: 1px solid white; 
}
#calendarTable th {
  background-color: wheat;
}

#calendarTable th:first-child{
  color: red;
}

#calendarTable th:last-child {
  color: blue;
}

#calendarTable td, #calendarTable th {
  border: 1px solid black;
  text-align: center;
}

#calendarTable td>a {
  text-decoration: none;
  color: black;
}

#calendarTable td:active {
  color: rgb(250, 250, 250);
  background-color: rgb(100, 100, 120);
}

#calendarTable td:hover {
  background-color: rgb(90, 90, 100);
  box-shadow: 2px 2px 5px black;
}

#calendarTable td.disabled, #calendarTable td.disabled>a {
  color: rgb(150,150,150);
  background-color: rgb(50,50,60);
  box-shadow: 0 0;
  pointer-events: none;
}
