body {
  text-align: center;
}

p {
  color: #1e90ff;
  font-weight: bold;
}

article {
  border: 3px dashed #ccc;
}

.logoImg {
  width: 100px;
  height: 100px;
  background-color: #6495ed;
  color: #fff;
  border: 5px solid #ccc;
  float: left;
  text-align: center;
} 

.logoImg2 {
  width: 100px;
  height: 100px;
  background-color: #6495ed;
  color: #fff;
  border: 5px solid #ccc;
  display: inline-block;
  text-align: center;
} 

.logoImg3 {
  width: 100px;
  height: 100px;
  background-color: #6495ed;
  color: #fff;
  border: 5px solid #ccc;
  display: flex;
  text-align: center;
} 

