* {
  text-align: center;
  background-color: skyblue;
}

body {
  width: 50%;
  margin: 50px auto;
  border: 1px solid lavender;
  border-radius: 5px;
}

button {
  border: 1px solid white;
  border-radius:  50%;
  color: white;
}

button:hover {
  border: 2px solid rgba(241, 215, 12, 0.849);
  color: rgba(241, 215, 12, 0.849);
  font-weight: bold;
  cursor: pointer;
}

